@font-face 
{
    font-family: "Open Sans";
    src: url("fonts/OpenSans-ExtraBoldItalic.ttf") format("ttf"),
         url("fonts/OpenSans-Italic.ttf") format("ttf"),
         url("fonts/OpenSans-Light.ttf") format("ttf"),
         url("fonts/OpenSans-LightItalic.ttf") format("tff"),
         url("fonts/OpenSans-Regular.ttf") format("ttf"),
         url("fonts/OpenSans-SemiBold.ttf") format("ttf"),
         url("fonts/OpenSans-SemiBoldItalic.ttf") format("ttf"),
         url("fonts/OpenSans-Bold.ttf") format("tff"),
         url("fonts/OpenSans-BoldItalic.ttf") format("tff"),
         url("fonts/OpenSans-ExtraBold.ttf") format("tff");
}

p {
    font-family: "Trebuchet MS";
    font-size: 1em;
    letter-spacing: 3px;
    color: gray;
}


a:hover {
    color: black;
    text-decoration: none;
}


a:visited {
    color: chocolate;
}


body {
	max-width: 90%;
    margin: auto;
    background: linear-gradient(#FFFFFF, #D3D3D3);
    background:url(japan-732704_1280.jpg)no-repeat bottom right;
    background-size: cover;
}

blockquote {
	width: 50%;
	margin: auto;
    font-size: 1.6em;
    font-style: italic;
	background-color: lightgrey;
	border-left: 3px solid firebrick;
	padding: 80px 30px 80px 30px;
}





.villagers
{
    border-left: 3px solid #ec3324;
}

.farmer
{
    border-left: 3px solid #577889;
}






.Good
{
    text-transform: capitalize;
    color: #5a9b75;
}

.Bad
{
    text-transform: capitalize;
    color: #ec3324;
}




