@font-face 
{
    font-family: "Open Sans";
    src: url("fonts/OpenSans-ExtraBoldItalic.ttf") format("ttf"),
         url("fonts/OpenSans-Italic.ttf") format("ttf"),
         url("fonts/OpenSans-Light.ttf") format("ttf"),
         url("fonts/OpenSans-LightItalic.ttf") format("tff"),
         url("fonts/OpenSans-Regular.ttf") format("ttf"),
         url("fonts/OpenSans-SemiBold.ttf") format("ttf"),
         url("fonts/OpenSans-SemiBoldItalic.ttf") format("ttf"),
         url("fonts/OpenSans-Bold.ttf") format("tff"),
         url("fonts/OpenSans-BoldItalic.ttf") format("tff"),
         url("fonts/OpenSans-ExtraBold.ttf") format("tff");
}

p {
    color: #A04000  ;
    font-size: 1.2em;
    text-align: justify;
    font-family: 'YuseiMagic', 'Times New Roman', Times, serif;
	letter-spacing: 3px;
}

body {
	max-width: 90%;
	margin: auto;
	


a:hover { color: black; text-decoration: none; } a:visited { color:#6E2C00; }
}




blockquote {
	width: 50%;
	margin: auto;
	font-size: 160%;
	background-color: lightgrey;
	border-left: 3px solid firebrick;
	padding: 80px 30px 80px 30px;
}